<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page</title>

</head>

<body>
    <div id="app">
        @include('layouts/partials/_navbar')

        <div class="container">
            @!section('content')





        </div>

    </div>


    @entryPointScripts('app')
    @entryPointStyles('app')

</body>

</html>